# @drodrigomoura:registry=https://registry.npmjs.org
# no entendi bien que paso, primero estava publicando en npm y podia instalar sin problemas
# pero despues de un tiempo me salio este error, y no me permitia instalar si no esta en pkg.github.com
@drodrigomoura:registry=https://npm.pkg.github.com
